/* tag selectors */

body {
  background-color: #E1EAE7;
}

hr {
  border-style: dotted none none none;
  width: 5%;
  border-width: 6px;
  border-color: lightgray;
}

h1 {
  color: #3E9B86;
}

h3 {
  color: #4BB19B;
}

/* class selectors */

.workExperienceTable tr:hover {
  background-color: #F6F8F7
}

.skillsTable tr:hover {
  background-color: #F6F8F7
}
